@model IEnumerable<JamesWebApp.Models.TimeOff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Time Management</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Absence</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidTimeOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidTimeOff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTwo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacation)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
